@model SC.Models.Keluhan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Keluhan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MhsId" class="control-label"></label>
                <input asp-for="MhsId" class="form-control" />
                <span asp-validation-for="MhsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tanggal" class="control-label"></label>
                <input asp-for="Tanggal" class="form-control" />
                <span asp-validation-for="Tanggal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeluhanMhs" class="control-label"></label>
                <input asp-for="KeluhanMhs" class="form-control" />
                <span asp-validation-for="KeluhanMhs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Respon" class="control-label"></label>
                <input asp-for="Respon" class="form-control" />
                <span asp-validation-for="Respon" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
